.contribly .map {
    width: 940px;
    height: 660px;
}

.contribly-map-cluster {
    background-image: url(images/m1.png);
    width: 53px;
    height: 52px;
    text-align: center;
}

.contribly-map-cluster-count {
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bold;

    height: 52px;
    line-height: 52px;
}

.contribly-map-cluster-yellow {
    background-image: url(images/m2.png);
    width: 53px;
    height: 52px;
    text-align: center;
}

.contribly .map .popup {
    width: 300px;
}

.contribly .map  .popup img {
    max-width: 100%;
    height: auto;
}

.contribly .map  .attributes {
    font-family: sans-serif;
    color: #666;
    font-size: 10pt;
}

.contribly .map  ul.attributes {
    list-style-type: none;
    margin: 2pt;
    padding: 0;
}

.contribly .map  .attributes li  {
    margin-right: 10pt;
}
